


*{
	margin: 0;
	padding: 0;
	font-family: rale;

}
header{
	width: 100%;

	height: 70px;
	position: fixed;
	z-index: 10;
	display: inline;
}

.ancho{
	width: 135%;
	height: 20px;
	/*background: red;*/
	margin: auto;
}
.logo{
	width: 50%;
	height: 60px;
	/*background: blue;*/
	float: left;
	padding-top: 1px;
	box-sizing: border-box;

}
.logo p a{
	color: #fff;
	font-size: 75px;
	text-decoration: none;
	font-weight: bold;
	font-family: rale;
}
nav{
	position: fixed;
	top:0px;
	left:0;
	width: 100%;
	height: 100px;
	padding: 10px 90px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.3);
	border-bottom: 1px solid #fff;

	/*width: 70%;
	height: 70px;
	/*background: olive;*/
	/*float: left;
	text-align: right;
	padding-top: 24px;

	box-sizing: border-box;*/
}
nav ul li{
	display: inline;
}

nav ul li a{
	color: white;
	line-height: 80px;
	padding: 120px 30px;
	text-decoration:none;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	/*font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
    font-family: rale;*/
}
nav ul li a:hover{
	color: white;
	border-radius: 5px;

}

.ancho-letras{
	top: 150px;
	left: 0;
	top: 10;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;

}
h1{
	color: #fff;

}
body{
	margin:0;
	padding: 0;
	font family:Arial;


}
nav	ul{
	list-style-type: none;
	float:right;
	margin: 0;
	padding: 0;
	display: flex;
}
p{
		color: #fff;
}

.principal {
  width: 800px;
}
table tr td{
	padding: 7em;
	margin: 6em;
	overflow: hidden;
	text-align: center;
}
  width: 800px;
}

